// Breakpoints
$breakpoint-mobile: 320px;
$breakpoint-tablet-768: 768px;
$breakpoint-tablet-1024: 1024px;
$breakpoint-desktop: 1366px;

// Colors
$color-black: #000000;
$color-white: #ffffff;
$color-light-gray: #efefef;
$color-black-transparent: rgba(0, 0, 0, 0.3);
$color-white-transparent: rgba(255, 255, 255, 0.75);
$color-slider: #7b7b7b;
$color-button-disabled-dark: rgba(255, 255, 255, 0.3);
$color-button-hover-light: #ededed;
$color-button-hover-dark: #464646;


